.preview{
    border: solid;
    height: 18%;
    width: 100%;
    background: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.preview img{
    max-width: 20rem;
    max-height:20rem;
    object-fit: contain;
    cursor: pointer;
    margin:0.5rem;
}